@media screen and (min-width: 500px) {
  aside {
    padding-left: 10%
  }
  #btl {
    padding-left: 10%;
  }

  #dl {
    padding-left: 10%;
  }

  #reading-tours {
    padding-left: 10%;
  }

  #silk-routes {
    padding-left: 10%;
  }

}
