@media screen and (min-width: 920px) {

  header {
    margin-bottom: 60px;
  }

  .logo {
    font-size: 3em;
  }

  /* ==============
    Article Desktop
   ============== */

  article {
    width: 60%;
  }

  aside p {
      padding-top: 30px;
    }

/* ==============
  About Desktop
 ============== */

  .page-header {
    margin-left: 20%;
  }
  #background {
    padding: 2%;
    width: 35%;
    margin-bottom: 10em;
  }
  #skills {
    margin-bottom: 20%;
    padding: 2%;
  }
  /* ==============
    projects Desktop
   ============== */
#accordion {
  width: 60%;
}

#accordion div {
  height: 800px;
}


}
