html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
}

*, *:before, *:after {
	margin:0;
	padding:0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 100%;
  width: auto;
  background-color: $yellow;
}

h1, h2, h3, h4, p, li, a {
  font-family: $font-stack;
}
