@media screen and (min-width: 615px) {
  /* ==============
    TABLET: Menu
   ============== */

  header a {
    font-size: 1.25em;
  }

  /* ==============
    Homepage Tablet Article
   ============== */

  article {
    width: 90%;
    p {
      font-size: 1.5em;
    }
    li {
      font-size: 2.5em;
    }
  }


  /* ==============
    Homepage Project sample on tablets
   ============== */

  aside{
    p {
      font-size: 2em;
    }
   }

   /* ==============
     About Page
    ============== */

   .page-header {
     margin-left: 5%;
     margin-top: 120px;
   }

   #coffee {
     width: 90%;
     margin: $photo-margin;
   }

   /* ==============
     About Page
    ============== */

   #me {
     width: 50%;
     margin: $photo-margin;
     float: left;
   }

   /* ==============
     About - Capabilities
    ============== */

   #skills {
       width: 35%;
       margin: $photo-margin;
       margin-left: 0;
       float: right;
   }

   #background {
       width: 50%;
       margin: $photo-margin;
       margin-top: 0;
       float: right;
   }

   /* ==============
     projects mobile
    ============== */

   #accordion {
     font-size: 1.5em;
   }

   #accordion div {
     height: 650px;
   }

}
